head {
  color: bisque;
  background-color: brown;
}
head > nav {
  display: flex;
}

footer {
  color: bisque;
  background-color: brown;
}

.article, .section {
  display: flex;
  flex-direction: column;
}

.section {
  justify-content: center;
}

.article {
  justify-content: space-between;
}

.header {
  color: aqua;
}
.header__menu {
  display: flex;
}
.header__menu--big {
  width: 100%;
}
.header--big {
  width: 100%;
}
.header:hover {
  color: crimson;
}
